<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Favicon -->
    <link
      href="/stylesheets/image/Bee.jpg"
      rel="shortcut icon"
      type="image/ico"
    />
    <title>Community Car Rentals</title>
    <!-- we need to careful the link CDN may change its version and cause some code cannot work properly -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/stylesheets/products.css" />

    <script>
      FontAwesomeConfig = { autoReplaceSvg: false };
    </script>
    <!-- font -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script>
      function Delete(e) {
        let items = [];
        JSON.parse(localStorage.getItem("items")).map((data) => {
          if (
            data.productId !=
            e.parentElement.parentElement.children[0].textContent
          ) {
            items.push(data);
          } else {
            if (data.number - 1 != 0) {
              data.number = data.number - 1;
              items.push(data);
            }
          }
        });
        localStorage.setItem("items", JSON.stringify(items));
        window.location.reload();
      }
    </script>
  </head>

  <body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Community Car Rentals</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav w-100">
            <a class="nav-link" href="/home">Home</a>

            <% if(currentUser) {%>
            <a class="nav-link" href="/products/new">List-A-Car</a>
            <% } %>
            <a class="nav-link" href="/products">Rent-A-Car</a>
          </div>
          <div class="navbar-nav ml-auto">
            <% if(!currentUser) {%>

            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else { %>
            <!-- <p id="cartNum" style="color: aquamarine">0</p> -->
            <!-- <i
              class="iconShopping fa fa-shopping-cart fa-2x fa-fw"
              style="color: aquamarine"
            ></i> -->
            <a class="nav-link" href="/profile">Profile</a>
            <a id="logout" class="nav-link" href="/logout">Logout</a>
            <% } %>
            <a class="nav-link" href="/about">About</a>
          </div>
        </div>
      </div>
    </nav>
    <% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success %>
      <button
        type="button"
        class="btn-close"
        data-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %> <% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error %>
      <button
        type="button"
        class="btn-close"
        data-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %>

    <div style="overflow: hidden">

      <script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv4KguI1bAPNkO8GVJ5UAqVag3mqCY6o4&libraries=places&signed_in=true&callback=initMap"
      ></script>
      <div class="search-container" id="content">
        <div class="search-results">
          <div>
            <input
              id="pac-input"
              class="controls"
              type="text"
              placeholder="Location"
              style="width: 90%"
            />
          </div>

          <div style="overflow: scroll; height: 100vh">
            <div
              v-for="(product, idx) in productList"
              style="text-align: center"
              class="column project-2"
              v-bind:class="product.category"
            >
              <div style="color: grey" style="text-align: left">
                <h4>{{ product.carName }}</h4>
                <h6 id="car_coord" hidden> {{ product.coord }} </h6>
              </div>
              <div class="animal_list" style="height: 42px; width: 42px">
                <template v-for="pic in product.car_photo">
                  <a :href="'/products/new/'+product._id">
                    <img
                      v-if="pic"
                      :src="pic"
                      style="width: 100px; height: 100px"
                    />
                  </a>
                </template>
              </div>

              <div
                class="car_price"
                style="
                  background-color: #000000;
                  width: 100px;
                  height: 100px;
                  text-align: center;
                  padding: 25px;
                  margin: 0px left;
                  float: rigth;
                "
              >
                <h5 style="color: white">Price</h5>
                <h6 style="color: white">{{ product.price }}</h6>
              </div>
            </div>

            <input type="text" id="search_latlng" name="search_latlng" hidden/>
          </div>
        </div>
        <div class="map-container">
          <label for="start" style="color: azure">Start date:</label>
          <input
            id="search_date_in"
            type="date"
            name="search_date_in"
            required
          />
          <label for="start" style="color: azure">End date:</label>
          <input
            id="search_date_out"
            type="date"
            name="search_date_out"
            required
          />
          <button
            class="button-34"
            id="search_cars"
            name="search_cars"
            v-on:click="getList();"
          >
            Find Cars
          </button>
          <div id="map"></div>
        </div>
      </div>
    </div>

    <script>
      const va = new Vue({
        el: "#content",
        // export default {
        data: {
          // return {
          errorMsg: "err",
          isEditing: {},
          productList: [],
          markers: [],
          map: null,
          // }
        },
        created() {
          // this.load();
        },
        methods: {
          async getList() {
            const ll = document.getElementById("search_latlng").value.split(":");
            const startDate_gql = document.getElementById("search_date_in").value;
            const endDate_gql = document.getElementById("search_date_out").value;

            console.log(ll);
            fetch("/graphql", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                query:
                  `
          query {
              products(coord:[` + ll[0] + "," + ll[1] +`], startDate: "` + startDate_gql + `", endDate: "`+ endDate_gql +`") {
                _id
                owner
                carName
                manufacturer
                vehicleType
                capacity
                transmissionStyle
                price
                car_photo
                car_dates
                look_like
                coord
                descript
              }
            }`,
              }),
            })
              .then(async (r) => {
                if (!r.ok) throw new Error(await r.text());
                return r;
              })
              .then((r) => r.json())
              .then((r) => {
                this.productList = r.data.products;
                let map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: 34.0224, lng: -118.2851 },
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                  });
                for(let i of this.productList){
                  console.log(i)
                  const marker = {
                    lng: i.coord[0],
                    lat: i.coord[1],
                  };
                  console.log(marker);
                  new google.maps.Marker({ position: marker, map, title: i.carName });
                }
              })
              .catch(this.flash);

            
          }
        }
      });

      // Location search
      function initMap() {
        this.map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 34.0224, lng: -118.2851 },
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        });

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function (position) {
              console.log(position)
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };

              const geocoder = new google.maps.Geocoder();
              geocoder.geocode({ location: pos }).then((response) => {
                var place = response.results[0].formatted_address;
                document.getElementById("pac-input").value = place;
              });
              document.getElementById("search_latlng").value = pos.lng + ":" + pos.lat;
              this.map.setCenter(pos);

              const marker = {
                  lng: pos.lng,
                  lat: pos.lat,
                };
              console.log(marker);
              new google.maps.Marker({ position: marker, map });
            },
            function () {
              handleLocationError(true, infoWindow,  this.map.getCenter());
            }
          );
        } else {
          handleLocationError(false, infoWindow,  this.map.getCenter());
        }

        var input = document.getElementById("pac-input");
        var car_coord = document.getElementById("car_coord");
        var searchBox = new google.maps.places.SearchBox(input);

        this.map.addListener("bounds_changed", function () {
          searchBox.setBounds(map.getBounds());
        });

        searchBox.addListener("places_changed", function () {
          var places = searchBox.getPlaces();
          
          if (places.length == 0) {
            return;
          }

          var bounds = new google.maps.LatLngBounds();
          places.forEach(function (place) {
            // document.getElementById("search_latlng").value = place.geometry.location.lng() + ":" + place.geometry.location.lat();
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25),
            };

            console.log(place.geometry.location)
            // markers.push(
              new google.maps.Marker({
                map:  map,
                icon: icon,
                title: place.name,
                position: place.geometry.location,
                animation: google.maps.Animation.DROP,
              })
            // );

            if (place.geometry.viewport) {
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }

          });
          map.fitBounds(bounds);
          searchBox.set('map',  map);
          map.setZoom(Math.min( map.getZoom(),12))
          document.getElementById("search_latlng").value = place.geometry.location.lng() + ":" + place.geometry.location.lat();
        });
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
          browserHasGeolocation
            ? "Error: The Geolocation service failed."
            : "Error: Your browser doesn't support geolocation."
        );
      }
      window.initMap = initMap;
      // Input Date & time
      var search_cars = document.getElementById("search_cars");
      search_cars.addEventListener("click", function () {

        var date_in = document.getElementById("search_date_in").value;
        var date_out = document.getElementById("search_date_out").value;

      });
    </script>
    <script src="/javascripts/filter.js"></script>
    <script src="/javascripts/cart.js"></script>
  </body>

  <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
      <span class="text-muted">&copf; Bhumi, Gopi & Vibhav 2022 </span>
    </div>
  </footer>
</html>
