body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(https://res.cloudinary.com/dobvmwmvk/image/upload/v1669709161/547_project/bgiamge_mau0ba.webp);
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
}

.middle {
    margin: 5px 10px;

}

.leftColumn {
    margin: 5% 5% 5% 5%;
    border: 3px solid gray;

    width: 450px;
    height: 450px;
    float: left;
}
  
.leftColumn img{
    margin: 5% 5% 5% 5%;
    padding: 5px 10px;

    width: 400px;
    height: 400px;
}

.rightColumn {
    margin: 5% 5% 5% 5%;

    height: 400px;
    float: left;
    color: white;

}

.rightColumn .imageBox img{
    margin: 5px 150px;
    padding: 5px 10px;

    width: 400px;
    height: 400px;
}


.form-container {
    padding: 10px;
    
    text-align: left;
}

.form-container label {
    width: 200px;
    font-weight: bold;
}